<div class="background"></div>
</div>
<div class="card card-body text-center float-center">
  <h1 class="display-3">GESTOR DE ORDENES DE TRABAJO</h1>
  <hr class="mt-2" />
  <h1>Bienvenido a ISER - Tu Socio de Confianza en Soporte y Mantenimiento Técnico</h1>
  <p class="text-justify">¿Necesitas soporte para tus dispositivos electrónicos? ¡Estás en el lugar correcto!</p>
  <div class="float-center">
    <a href="#blog" class="btn btn-primary mt-2">Conoce nuestros servicios adicionales</a>
  </div>


  <hr class="my-2" />

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="/img/tecnologia.jpg" class="d-block mx-auto w-50 imgc" alt="tecnologia">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/soporte.jpg" class="d-block mx-auto w-50 imgc" alt="soporte">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/sp.jpeg" class="d-block mx-auto w-50 imgc" alt="sp">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/tecnologia1.jpg" class="d-block mx-auto w-50 imgc" alt="tecnologia1">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/trabajos2.jpg" class="d-block mx-auto w-50 imgc" alt="trabajos2">
      </div>
    </div>
  </div>

  <div>
    <h2>Servicios ISER</h2>
    <ul>
      <p>✅ Soporte Técnico Especializado</li>
      <p>✅ Mantenimiento Preventivo</li>
      <p>✅ Reparaciones Rápidas</li>
      <p>✅ Asesoramiento Personalizado</li>
    </ul>
    <p>Especialistas en Todas las Marcas y Modelos. Brindamos servicios tanto a clientes individuales como a empresas,
      adaptándonos a tus necesidades específicas.</p>
    <p>Visítanos o Agenda tu Cita. En ISER, estamos comprometidos a proporcionar soluciones eficientes y personalizadas.
      ¡Confía en nosotros para mantener tus dispositivos electrónicos en perfecto estado!</p>
  </div>
  <div class="its_section2_wr mt_bgtempconatainer its_section" id="blog">
    <div class="its_container">
      <div class="its_section_heading">
        <h3 class="its_heading editableElement" data-kindoff="text">SERVICIOS ADICIONALES</h3>
        <p class="its_paragraph editableElement" data-kindoff="text">¡Descubre más sobre lo que ofrecemos!</p>
      </div>
      <div class="its_section2_flex mt-5">
        <div class="its_section2_item mt_bgtempconatainer">
          <h3 class="editableElement " data-kindoff="text">Diseño UI/UX</h3>
          <p class="editableElement" data-kindoff="text">Construimos experiencias digitales intuitivas y atractivas para
            tus usuarios.</p>
          <img src="/img/diseno-ux-1.jpg" alt="Diseño UI/UX">
          <button onclick="window.location.href='/servicios/disenio-ui-ux'"
            class="editableElement btn btn-primary mt-2 btn-block w-100" data-kindoff="text">Leer más</button>
        </div>
        <div class="its_section2_item mt_bgtempconatainer">
          <h3 class="editableElement " data-kindoff="text">Diseño de Aplicaciones</h3>
          <p class="editableElement" data-kindoff="text">Desarrollamos interfaces innovadoras y funcionales para tus
            aplicaciones.</p>
          <img src="/img/madblogcefaab.png" alt="Diseño de Aplicaciones">
          <button onclick="window.location.href='/servicios/disenio-de-aplicaciones'"
            class="editableElement btn btn-primary mt-2 btn-block w-100" data-kindoff="text">Leer más</button>
        </div>
        <div class="its_section2_item mt_bgtempconatainer">
          <h3 class="editableElement " data-kindoff="text">Pensamiento Digital</h3>
          <p class="editableElement" data-kindoff="text">Exploramos nuevas ideas y estrategias digitales para tu
            negocio.</p>
          <img src="/img/Transofrmacion-digital-2-1068x507-1.jpg" alt="Pensamiento Digital">
          <button onclick="window.location.href='/servicios/pensamiento-digital'"
            class="editableElement btn btn-primary mt-2 btn-block w-100" data-kindoff="text">Leer más</button>
        </div>
        <div class="its_section2_item mt_bgtempconatainer">
          <h3 class="editableElement" data-kindoff="text">Marketing Digital</h3>
          <p class="editableElement" data-kindoff="text">Impulsamos tu marca en el mundo digital con estrategias
            efectivas de marketing.</p>
          <img src="/img/marketing.jpeg" alt="Marketing">
          <button onclick="window.location.href='/servicios/marketing-digital'"
            class="editableElement btn btn-primary mt-2 btn-block w-100" data-kindoff="text">Leer más</button>
        </div>
        <div class="its_section2_item mt_bgtempconatainer">
          <h3 class="editableElement" data-kindoff="text">Desarrollo de Software</h3>
          <p class="editableElement dds" data-kindoff="text">Creamos soluciones de software personalizadas para optimizar
            tus procesos y aumentar la eficiencia.</p>
          <img src="/img/dev.jpg" alt="Desarrollo de Software">
          <button onclick="window.location.href='/servicios/Desarrollo-Web'"
            class="editableElement btn btn-primary mt-2 btn-block w-100" data-kindoff="text">Leer más</button>
        </div>
        <div class="its_section2_item mt_bgtempconatainer">
          <h3 class="editableElement" data-kindoff="text">Transformación Digital</h3>
          <p class="editableElement" data-kindoff="text">Guiamos a tu empresa en el proceso de transformación digital.
          </p>
          <img src="/img/transdigital.jpg" alt="Consultoría en Transformación Digital">
          <button onclick="window.location.href='/servicios/Transformacion-Digital'"
            class="editableElement btn btn-primary mt-2 btn-block w-100" data-kindoff="text">Leer más</button>
        </div>
      </div>
      <button class="btn btn-success mt-4" onclick="window.location.href='/auth/signup'">Registrarse</button>
    </div>
    <a href="#top" class="btn btn-primary mt-3">Volver al inicio</a>
    <div class="mt-3"></div>
  </div>