<div class="background"></div>
<div class="card mb-5">
    <div class="card-body">
        <h3 class="text-center">Pensamiento Digital</h3>
        <hr class="my-2" />
        <p>
            En ISER, adoptamos un enfoque de pensamiento digital para resolver desafíos empresariales y aprovechar
            las oportunidades en la era digital. Creemos en la integración de la tecnología, la creatividad y la
            estrategia para impulsar la innovación y el crecimiento sostenible.
        </p>
        <div>
            <h4>Nuestro enfoque:</h4>
            <ul>
                <li>Visión holística: Analizamos los problemas desde una perspectiva integral, considerando no solo
                    los aspectos tecnológicos, sino también los humanos, comerciales y sociales.</li>
                <li>Creatividad y diseño centrado en el usuario: Priorizamos la experiencia del usuario y la
                    creatividad en cada solución que ofrecemos, asegurándonos de que nuestras innovaciones resuelvan
                    problemas reales y generen impacto positivo.</li>
                <li>Agilidad y adaptabilidad: Nos adaptamos rápidamente a los cambios del mercado y a las nuevas
                    tecnologías, utilizando metodologías ágiles para ofrecer resultados de alta calidad de manera
                    eficiente.</li>
                <li>Colaboración y co-creación: Trabajamos en estrecha colaboración con nuestros clientes y socios,
                    fomentando un ambiente de co-creación donde las ideas pueden fluir libremente y las soluciones
                    pueden ser refinadas en conjunto.</li>
                <li>Ética y responsabilidad: Operamos con integridad y ética en todas nuestras actividades,
                    priorizando la privacidad y la seguridad de los datos, así como el bienestar de nuestros
                    usuarios y clientes.</li>
            </ul>
        </div>
        <div>
            <h4>Beneficios del pensamiento digital:</h4>
            <ul>
                <li>Innovación continua: Generamos ideas frescas y soluciones innovadoras que mantienen a nuestros
                    clientes un paso adelante en un mundo digital en constante evolución.</li>
                <li>Optimización de procesos: Identificamos oportunidades para mejorar la eficiencia y la efectividad
                    de los procesos empresariales mediante la aplicación de tecnología y metodologías digitales.</li>
                <li>Competitividad mejorada: Ayudamos a nuestros clientes a mantenerse competitivos en el mercado
                    digital actual, diferenciándose con productos y servicios que destacan por su calidad y experiencia
                    del usuario.</li>
                <li>Resiliencia empresarial: Fortalecemos la capacidad de nuestras organizaciones para adaptarse a
                    los cambios y superar los desafíos, construyendo una base sólida para el crecimiento futuro.</li>
            </ul>
        </div>
        <div>
            <p>¡Descubre el poder del pensamiento digital con nosotros!</p>
            <p>En ISER, estamos comprometidos a impulsar la transformación digital y a ayudar a nuestros clientes
                a navegar con éxito en un mundo cada vez más digitalizado. ¡Únete a nosotros en este emocionante
                viaje hacia el futuro digital!</p>
        </div>
        <div class="text-center"><a href="/" class="btn btn-primary text-center">Ir a la página principal</a></div>
    </div>
</div>
