<div class="background"></div>
<div class="card mb-5">
    <div class="card-body">
        <h3 class="text-center">Desarrollo de Aplicaciones</h3>
        <hr class="my-2" />
        <p>
            En ISER, nos especializamos en el desarrollo de aplicaciones móviles y web que destacan por su funcionalidad
            y diseño innovador. Nos comprometemos a crear soluciones digitales que impulsen tu negocio y generen
            experiencias memorables para tus usuarios.
        </p>
        <div>
            <h4>Servicios ofrecidos:</h4>
            <ul>
                <li>Desarrollo de aplicaciones móviles: Creamos aplicaciones móviles nativas e híbridas para iOS y
                    Android, diseñadas para ofrecer un rendimiento excepcional y una experiencia de usuario
                    sobresaliente.</li>
                <li>Desarrollo de aplicaciones web: Construimos aplicaciones web responsivas y escalables utilizando
                    tecnologías modernas para garantizar la compatibilidad con diversos dispositivos y navegadores.</li>
                <li>Integración de funcionalidades avanzadas: Implementamos características avanzadas como
                    geolocalización, notificaciones push, pagos en línea, integración con redes sociales y más para
                    potenciar la utilidad de tus aplicaciones.</li>
            </ul>
        </div>
        <div>
            <h4>Proceso de desarrollo:</h4>
            <ol>
                <li>Consulta inicial: Nos reunimos contigo para comprender tus objetivos comerciales, requerimientos
                    técnicos y expectativas de diseño para tu aplicación.</li>
                <li>Diseño y prototipado: Creamos wireframes y prototipos interactivos para visualizar la estructura y
                    funcionalidad de la aplicación antes de iniciar el desarrollo.</li>
                <li>Desarrollo iterativo: Utilizamos metodologías ágiles para desarrollar tu aplicación de manera
                    iterativa, permitiendo una rápida adaptación a cambios y una entrega gradual de funcionalidades.</li>
                <li>Pruebas y optimización: Realizamos pruebas exhaustivas para garantizar el rendimiento, la
                    seguridad y la usabilidad de tu aplicación, realizando ajustes y optimizaciones según sea necesario.</li>
                <li>Lanzamiento y mantenimiento: Publicamos tu aplicación en las tiendas de aplicaciones correspondientes
                    y proporcionamos soporte continuo para correcciones de errores, actualizaciones y mejoras adicionales.</li>
            </ol>
        </div>
        <div>
            <p>¡Empieza a construir tu aplicación con nosotros!</p>
            <p>En ISER, estamos comprometidos a ofrecer soluciones de desarrollo de aplicaciones que se alineen
                perfectamente con tus objetivos comerciales y superen las expectativas de tus usuarios. ¡Permítenos
                llevar tu idea desde la concepción hasta la realidad digital!</p>
        </div>
        <div class="text-center"><a href="/" class="btn btn-primary text-center">Ir a la página principal</a></div>
    </div>
</div>
