<div class="background"></div>
<div class="card mb-5">
    <div class="card-body">
        <h3 class="text-center">Diseño UI/UX</h3>
        <hr class="my-2" />
        <p>
            En ISER, nos especializamos en la creación de experiencias digitales excepcionales mediante un enfoque
            centrado en el usuario. Entendemos la importancia de combinar un diseño atractivo con una funcionalidad
            intuitiva para garantizar la satisfacción y el compromiso del usuario.
        </p>
        <div>
            <h4>Servicios ofrecidos:</h4>
            <ul>
                <li>Diseño de interfaces de usuario (UI): Creamos interfaces de usuario elegantes y funcionales que
                    reflejan la identidad de tu marca y mejoran la experiencia del usuario.</li>
                <li>Diseño de experiencia de usuario (UX): Nos enfocamos en la experiencia del usuario desde el primer
                    contacto hasta la interacción continua, asegurándonos de que cada paso sea fluido y significativo.
                </li>
                <li>Investigación y pruebas de usuario: Realizamos investigaciones exhaustivas y pruebas de usuario para
                    comprender las necesidades y preferencias de tu audiencia, garantizando así un diseño centrado en el
                    usuario.</li>
            </ul>
        </div>
        <div>
            <h4>Proceso de trabajo:</h4>
            <ol>
                <li>Consulta inicial: Nos reunimos contigo para comprender tus objetivos, audiencia y requisitos
                    específicos del proyecto.</li>
                <li>Análisis y investigación: Realizamos un análisis detallado del mercado y la competencia, así como
                    investigaciones de usuario para obtener información valiosa.</li>
                <li>Creación de prototipos: Desarrollamos prototipos interactivos para visualizar y probar diferentes
                    conceptos de diseño.</li>
                <li>Iteración y refinamiento: Recopilamos comentarios y realizamos iteraciones basadas en pruebas de
                    usuario y evaluaciones de diseño.</li>
                <li>Entrega final: Entregamos un diseño finalizado que cumple con tus expectativas y está listo para ser
                    implementado.</li>
            </ol>
        </div>
        <div>
            <p>¡Comienza tu viaje de diseño con nosotros!</p>
            <p>En ISER, estamos comprometidos a ofrecer soluciones de diseño UI/UX que no solo cumplan, sino que superen
                tus expectativas. ¡Déjanos ayudarte a llevar tu proyecto al siguiente nivel con un diseño impresionante
                y una experiencia de usuario excepcional!</p>
        </div>
        <div class="text-center"><a href="/" class="btn btn-primary text-center">Ir a la página principal</a></div>
    </div>
</div>