<div class="background"></div>
<div class="card mb-5">
    <div class="card-body">
        <h3 class="text-center">Marketing Digital</h3>
        <hr class="my-2" />
        <p>
            En ISER, ofrecemos soluciones integrales de marketing digital diseñadas para impulsar la visibilidad,
            el compromiso y la conversión de tu marca en el mundo digital. Desde estrategias de SEO hasta campañas
            de redes sociales, estamos aquí para ayudarte a alcanzar tus objetivos comerciales en línea.
        </p>
        <div>
            <h4>Servicios ofrecidos:</h4>
            <ul>
                <li>Optimización de motores de búsqueda (SEO): Implementamos estrategias de SEO sólidas para mejorar
                    tu posición en los resultados de búsqueda orgánica y aumentar la visibilidad de tu sitio web.</li>
                <li>Publicidad en línea (SEM): Creamos y gestionamos campañas de publicidad pagada en Google Ads,
                    redes sociales y otros canales para generar tráfico cualificado y aumentar las conversiones.</li>
                <li>Marketing de contenido: Desarrollamos contenido relevante y atractivo para tu audiencia, incluyendo
                    blogs, infografías, videos y más, para aumentar el conocimiento de marca y el compromiso del usuario.</li>
                <li>Redes sociales: Diseñamos estrategias de redes sociales personalizadas para aumentar la presencia
                    de tu marca, fomentar la interacción con los seguidores y generar leads cualificados.</li>
                <li>Análisis y seguimiento: Utilizamos herramientas de análisis avanzadas para monitorizar el rendimiento
                    de tus campañas y realizar ajustes en tiempo real para maximizar los resultados.</li>
            </ul>
        </div>
        <div>
            <h4>Proceso de trabajo:</h4>
            <ol>
                <li>Análisis y planificación: Evaluamos tu situación actual, identificamos oportunidades y desarrollamos
                    un plan de marketing digital personalizado para alcanzar tus objetivos.</li>
                <li>Implementación y ejecución: Ejecutamos las estrategias acordadas, creando y optimizando campañas
                    para maximizar el retorno de la inversión y alcanzar tus metas comerciales.</li>
                <li>Seguimiento y optimización: Monitorizamos de cerca el rendimiento de tus campañas, realizando ajustes
                    continuos para mejorar los resultados y adaptarnos a los cambios en el mercado.</li>
                <li>Informe y análisis: Proporcionamos informes detallados y análisis periódicos para evaluar el impacto
                    de nuestras acciones y planificar futuras estrategias con base en datos concretos.</li>
            </ol>
        </div>
        <div>
            <p>¡Potencia tu presencia en línea con nosotros!</p>
            <p>En ISER, estamos comprometidos a ayudarte a destacar en el competitivo mundo del marketing digital.
                Con nuestra experiencia y enfoque estratégico, podemos llevar tu marca al siguiente nivel y alcanzar
                nuevos horizontes en línea.</p>
        </div>
        <div class="text-center"><a href="/" class="btn btn-primary text-center">Ir a la página principal</a></div>
    </div>
</div>
